.selector-container {
  display: flex;
  flex-direction: row;
}

.toolbar-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  border: none;
  margin-left: 4px;
  padding-right: 0;
  background-color: #fff;
  border-radius: 4px;
  outline: 0;
}

.toolbar-selector:first-child {
  margin: 0;
}

.toolbar-selector:hover {
  cursor: pointer;
}

.selected {
  background-color: #d9d9d9;
}

.unselected:hover {
  background-color: #f2f2f2;
}

.icon {
  width: 24px;
  height: 24px;
}

.arrow {
  width: 8px;
  height: 8px;
}

.options {
  position: absolute;
  margin: 0 0 8px 56px;
  padding: 2px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  z-index: 2;
}

.special-options {
  display: flex;
  align-content: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
